name: (Internal) Android Production Release

on:
  workflow_call:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref_name }}-android
  cancel-in-progress: true

env:
  working_directory: android
  java_version: "23.x"
  java_distribution: "zulu"
  ruby_version: "3.3.4"

jobs:
  deploy_android:
    name: Deploy to Play Store
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.ruby_version }}
          working-directory: ${{ env.working_directory }}
          bundler-cache: true
      - uses: actions/setup-java@v5
        with:
          java-version: ${{ env.java_version }}
          distribution: ${{ env.java_distribution }}
      - uses: gradle/actions/setup-gradle@v5

      - name: Initialize environment variables from FVM config
        uses: kuhnroyal/flutter-fvm-config-action@v2
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: ${{ env.FLUTTER_CHANNEL }}
          flutter-version: ${{ env.FLUTTER_VERSION }}
          cache: true

      - name: Install tools
        run: ./tool/install.sh

      # Decrypt secrets
      - name: Decrypt secrets
        run: ./tool/decrypt_android_secrets.sh
        env:
          ANDROID_KEYS_SECRET_PASSPHRASE: ${{ secrets.ANDROID_KEYS_SECRET_PASSPHRASE }}

      # Flutter actions
      - run: flutter pub get
      - run: flutter build appbundle --flavor prod --dart-define=env.mode=prod

      # Fastlane deploy
      - name: Deploy Android Beta to Play Store via Fastlane
        uses: maierj/fastlane-action@v3.1.0
        with:
          lane: beta
          subdirectory: ${{ env.working_directory }}
